* {
    padding: 0;
    margin: 0;
    background-color: rgb(123, 14, 224);
}

p {
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(240, 240, 215);
}

a {
    text-decoration: none;
    color: rgb(18, 19, 18);
    font-weight: bold;
}